<div ng-controller="groupsController">
  <h3>GRUPOS</h3>
  <div class="page-controller-wrapper">
    <div class="page-control">
      <a><span id="prev" ng-click="prevPage(index)">Anterior</span></a>
      <span> | Grupo {{ cluster }} | </span>
      <a><span id="next" ng-click="nextPage(index)">Siguiente</span></a>
    </div>
  </div>
  <table class="ranking">
    <tr>
      <th>Sucursal</th>
      <th>Código</th>
    </tr>
    <tr ng-repeat="s in subsidiaries">
      <td>{{ s.name | capitalize }}</td>
      <td>{{ s.id }}</td>    
    </tr>
  </table>
</div>