<div class="prizes-container" ng-controller="categoriesController">
  <h3>MILLAS</h3>
  <h2>¿Cómo participar?</h2>
  <p>Sumando puntos por venta de productos de Cocina, Cuidado Personal Femenino y Café.</p>
  <div class="categories">
    <ul class="products-list">
      <li ng-repeat="c in categories">
        <div id="f1_container">
        <div ng-if="c.code">
        <div id="f1_card" class="shadow">
        <div class="front face">
          <a><img ng-src="{{imgs[c.code]}}"/></a>
        </div>
        <div class="back face center">
          <div class="giladita">
          </div>
          <div class="giladita-arriba">
            <div class="up"><strong>{{ c.name }}</strong></div>
            <div class="down"><strong>{{ c.points }} puntos</strong></div>
          </div>
        </div>
        </div>
        </div>
        </div>
      </li>
    </ul>
</div>
</div>