<h3>Destino Philips es un programa de ventas</h3>
<h1>Duración del programa</h1>
<p>Del 04 de Octubre al 31 de Octubre de 2014 inclusive.</p>
<h1>Sucursales Participantes</h1>
<p>Todas las Sucursales de Frávega. Segmentados en 5 grupos.</p>
<h1>¿Quiénes participan?</h1>
<p>Todo el equipo de vendedores de salón, Sub Gerentes, Gerentes y Responsables Comerciales de las sucursales de Frávega</p>