<h3>
	¡Más conoces de Philips, más millas sumas!
</h3>
<p>
	Para reforzar el contenido de las capacitaciones se realizarán 2 trivias durante el 
	programa.Las trivias se publicarán en el microsite del programa y se comunicarán 
	mediante el envío de mailing por parte de Garbarino. Las preguntas serán 
	relacionadas al contenido dictado en las capacitaciones de Philips y contenido 
	disponible en www.destinophilips.com.ar
</p>
<p>
	TRIVIA FIJA – 5 PREGUNTAS
	Sumarán millas aquellos vendedores que completen la trivia.
</p>