<div class="prizes-container" ng-controller="prizesController">
  <div class="page-control">
    <h2 class="center">
     <a><span ng-click="majorPrizes()">Premios Mayores</span></a> | 
     <a><span ng-click="intermediatePrizes()">Premios Intermedios</span></a> | 
     <a><span ng-click="minorPrizes()">Premios Menores</span></a>
   </h2>
 </div>
 <div class="prizes-info-ctn">
  <div class="major-prize">
    <h3>10 VIAJES PARA 2 PERSONAS!</h3>
    <h1>5 Vendedores de salón (1 por cada cluster)<h1>
      <p>Resultará ganador el vendedor que más puntos haya sumado durante todo el programa.</p>
      <h1>5 Gerentes de Sucursal (1 Gerente por cada cluster)</h1>
      <p>Resultará ganador el Gerente que mayor share de venta Philips haya logrado dentro de su cluster.</p>
      <h1>Los ganadores podrán elegir el destino de su viaje entre las ciudades de Cataratas, Bariloche, Mendoza, Salta o El Calafate.
        El viaje contempla una pensión completa para 2 personas en el lugar de alojamiento durante 4 días.</h1>
      </div>
    </div>
  </div>