<div class="text-left">
	<h3>
		Premio Mayor
	</h3>
	<p>
		12 Premios Mayores.<br>
		6 vendedores de salón <br>
		(1 por cada cluster) que más puntos haya sumado durante todo el programa.<br>
		6 Gerentes de Sucursal <br>
		(1 por cada cluster). Resultarán ganadores los gerentes de <br>
		los vendedores que más puntos hayan sumado durante todo el programa.
	</p>
</div>

<div class="text-right">
	<h3>
		Premio Menor
	</h3>
	<p>
		24 Premios Menores.<br>
		Durante el programa, se realizarán cortes semanales <br>
		(1 por semana) y se premiará a quienes estén liderando cada cluster. <br>
		Se entregarán 6 premios por semana.<br>
		Cada corte es independiente al puntaje acumulado.<br>
		En cada corte se renuevan las chances de ganar!<br>
		Las millas de todos los cortes suman para el gran premio final.<br>
	</p>
</div>