<h3>¿Como Sumar millas?</h3>
<table class="ranking" ng-controller="productsController">
  <tr>
    <th>Producto</th>
    <th>Puntos</th>
  </tr>
  <tr ng-repeat="p in products">
    <td>{{ p.name }}</td>
    <td>{{ p.score }}</td>		
  </tr>
</table>