<!-- <div ng-controller="productsController">
  <ul>
    <li ng-repeat="p in products">{{ p.name + ", " + p.code }}
  </ul>
</div> -->
<h3>¿Como Sumar millas?</h3>
<table class="ranking">
  <tr>
    <th>Producto</td>
    <th>Puntos</td>		
  </tr>
  <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>
    <tr>
    <td>LCD 32" PHILIPS</td>
    <td>100</td>		
  </tr>

</table>