<div ng-controller="productsController">
  <h3>¿Cómo Sumar millas?</h3>
  <div class="page-control">
    <srong>
      <a><span id="prev" ng-click="prevPage(index)">&lt; Prev</span></a>
      <span> | Página {{ index + 1 }} | </span>
      <a><span id="next" ng-click="nextPage(index)">Next &gt;</span></a>
    </strong>
  </div>
  <table class="ranking">
    <tr>
      <th>Producto</th>
      <th>Puntos</th>
    </tr>
    <tr ng-repeat="p in products">
      <td>{{ p.name }}</td>
      <td>{{ p.score }}</td>		
    </tr>
  </table>
</div>