<!-- <div ng-controller="rankingController">
  <ul>
    <li ng-repeat="u in users">{{ u.name + ", " + u.points }}</li>
  </ul>
</div> -->
<h3>Ranking</h3>
<table class="ranking">
  <tr>
    <th>Vendedor</td>
    <th>Sucursal</td>		
  </tr>
  <tr>
    <td>Leo Matioli</td>
    <td>5</td>		
  </tr>
    <tr>
    <td>Leo Matioli</td>
    <td>5</td>		
  </tr>
    <tr>
    <td>Leo Matioli</td>
    <td>5</td>		
  </tr>
    <tr>
    <td>Leo Matioli</td>
    <td>5</td>		
  </tr>
    <tr>
    <td>Leo Matioli</td>
    <td>5</td>		
  </tr>
    <tr>
    <td>Leo Matioli</td>
    <td>5</td>		
  </tr>
    </tr>
    <tr>
    <td>Leo Matioli</td>
    <td>5</td>		
  </tr>
    </tr>
    <tr>
    <td>Leo Matioli</td>
    <td>5</td>		
  </tr>
    </tr>
    <tr>
    <td>Leo Matioli</td>
    <td>5</td>		
  </tr>
    </tr>
    <tr>
    <td>Leo Matioli</td>
    <td>5</td>		
  </tr>
    </tr>
    <tr>
    <td>Leo Matioli</td>
    <td>5</td>		
  </tr>
</table>