<h3>
	Reglamento del Programa “Beneficios Crédito Garbarino”
</h3> 
<p>
	1.Garbarino S.A.I.C. e I. (“Garbarino”) organiza el programa de beneficios actualmente denominado “CIRCULO DE BENEFICIOS GARBARINO” (el “Programa”). En cualquier 
	momento, Garbarino podrá cambiar la denominación del Programa y sus marcas asociadas informando a los Titulares de la modificación por cualquier medio masivo de co
	municación, a través del Sitio Web. 2.Mediante el Programa, El Titular podrá acceder a los beneficios, descuentos, precios especiales, promociones u ofertas ofrecidos me
	diante el Programa, que se encuentren publicados en el sitio web http://www.Garbarino.com/beneficios.php (el “Sitio Web” y los “Beneficio/s” respectivamente), o que se
	 anuncien en cualquier otro medio de comunicación. Los Beneficios deberán, ser solicitados en cada caso durante el plazo de vigencia (el “Plazo de Vigencia”) otorgados a 
	estos. Dichos Beneficios podrán ser ofrecidos tanto por Garbarino como por otras empresas adherentes a este Programa de Beneficios (entro otros proveedores) los que jun
	to con Garbarino se conocen como los “Comercios Adheridos”. 3.Podrán participar en el Programa las personas físicas mayores de 18 (dieciocho) años, con capacidad par
	a contratar, que tengan domicilio en la República Argentina, que cumplan y se comprometan a cumplir con este Reglamento (el / los, “Titular/es”). 4.Garbarino podrá imp
	lementar la utilización de Medios de Identificación (“Medios de Identificación”), a fin de acreditar la adhesión del Titular al Programa en orden a posibilitarle de acceder a 
	los Beneficios vigentes en los Comercios Adheridos. Este Medio de identificación tendrá como única finalidad identificarlo como Cliente de los Comercios Adheridos al Pr
	ograma y Titular de dicho Programa. Entre los posibles medios materiales a ser implementados se encontrarán entre otros las credenciales, cartas de membresía, pins, lib
	retas, etc. Garbarino podrá establecer la obligatoriedad de la presentación de dichos medios a fin de validar el carácter de Titular en los Comercios Adheridos al Program
	a. El Titular autorizará a Garbarino a incluir su nombre y otros datos personales en los Medios de Identificación. Los Medios de Identificación no son tarjetas de: crédito, 
	de compra, de débito y ni servirán como medio de pago. Los Medios de Identificación son de exclusiva propiedad de Garbarino, quien las entrega al Titular en comodato
	, para su uso personal, exclusivo e intransferible. 5.En caso de extravío, robo o hurto de un Medio de Identificación, provistos por Garbarino, el Titular se compromete 
	a informar por escrito y de inmediato a Garbarino dicha circunstancia. La responsabilidad de Garbarino se limitará a la reposición con cargo para el Titular del medio de 
	identificación robado, hurtado, perdido o deteriorado dentro de los treinta (30) días de efectuada la mencionada denuncia. Garbarino podrá solicitar la devolución 
	momento, Garbarino podrá cambiar la denominación del Programa y sus marcas asociadas informando a los Titulares de la modificación por cualquier medio masivo de co
	municación, a través del Sitio Web. 2.Mediante el Programa, El Titular podrá acceder a los beneficios, descuentos, precios especiales, promociones u ofertas ofrecidos me
	diante el Programa, que se encuentren publicados en el sitio web http://www.Garbarino.com/beneficios.php (el “Sitio Web” y los “Beneficio/s” respectivamente), o que se
	 anuncien en cualquier otro medio de comunicación. Los Beneficios deberán, ser solicitados en cada caso durante el plazo de vigencia (el “Plazo de Vigencia”) otorgados a 
	estos. Dichos Beneficios podrán ser ofrecidos tanto por Garbarino como por otras empresas adherentes a este Programa de Beneficios (entro otros proveedores) los que jun
	to con Garbarino se conocen como los “Comercios Adheridos”. 3.Podrán participar en el Programa las personas físicas mayores de 18 (dieciocho) años, con capacidad par
	a contratar, que tengan domicilio en la República Argentina, que cumplan y se comprometan a cumplir con este Reglamento (el / los, “Titular/es”). 4.Garbarino podrá imp
	lementar la utilización de Medios de Identificación (“Medios de Identificación”), a fin de acreditar la adhesión del Titular al Programa en orden a posibilitarle de acceder a 
	los Beneficios vigentes en los Comercios Adheridos. Este Medio de identificación tendrá como única finalidad identificarlo como Cliente de los Comercios Adheridos al Pr
	ograma y Titular de dicho Programa. Entre los posibles medios materiales a ser implementados se encontrarán entre otros las credenciales, cartas de membresía, pins, lib
	retas, etc. Garbarino podrá establecer la obligatoriedad de la presentación de dichos medios a fin de validar el carácter de Titular en los Comercios Adheridos al Program
	a. El Titular autorizará a Garbarino a incluir su nombre y otros datos personales en los Medios de Identificación. Los Medios de Identificación no son tarjetas de: crédito, 
	de compra, de débito y ni servirán como medio de pago. Los Medios de Identificación son de exclusiva propiedad de Garbarino, quien las entrega al Titular en comodato
	, para su uso personal, exclusivo e intransferible. 5.En caso de extravío, robo o hurto de un Medio de Identificación, provistos por Garbarino, el Titular se compromete 
	a informar por escrito y de inmediato a Garbarino dicha circunstancia. La responsabilidad de Garbarino se limitará a la reposición con cargo para el Titular del medio de 
	identificación robado, hurtado, perdido o deteriorado dentro de los treinta (30) días de efectuada la mencionada denuncia. Garbarino podrá solicitar la devolución 
</p>