<h3>
	Trivia
</h3>
<div class="trivia-container" ng-controller="triviaController">
	<div class="trivia-question">
		<p> {{ question.text }}</p>
	</div>
	<div class="trivia-answers">
		<div class="trivia-answer" ng-repeat="o in question.options">{{ o.text }}</div>
	</div>
</div>