<h3>
	Trivia
</h3>
<div class="trivia-container" ng-controller="triviaController">
	<div class="trivia-question">
		<p> {{ question.text }}</p>
	</div>
	<div class="trivia-answers">
		<div tabindex="-1" class="trivia-answer" ng-repeat="o in question.options" ng-click="answer(question.id, o.id)">{{ o.text }}</div>
	</div>
</div>