<h3>
	Trivia
</h3>
<div class="trivia-container">
	<div class="trivia-question">
		<p> Qué onda con Philips?</p>
	</div>
	<div class="trivia-answers">
		<div class="trivia-answer">RESPUESTA A</div>
		<div class="trivia-answer">RESPUESTA B</div>
		<div class="trivia-answer">RESPUESTA C</div>
		<div class="trivia-answer">RESPUESTA D</div>
		<div class="trivia-answer">RESPUESTA E</div>
		<div class="trivia-answer">RESPUESTA F</div>
	</div>
</div>