html {
	height: 100%;
}

body {
	height: -moz-calc(100% - 20px);
	height: calc(100% - 20px);
	height: -webkit-calc(100% - 20px);
	min-width: 1280px;
	width: 100%;
}

.welcome-logo {
	position: relative;
	top: 8px;
	margin-left: 8px;
}

.container {
	margin: 20px;
	background: -webkit-linear-gradient(left top, #006BA2, #000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #006BA2, #000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #006BA2, #000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #006BA2, #000); /* Standard syntax */
	height:-moz-calc(100% - 70px);
	height:calc(100% - 70px);
	height: -webkit-calc(100% - 70px);
	border-bottom-right-radius: 100px;
	overflow: hidden;
	position: relative;
}

.world {
	z-index: 0;
	position: absolute;
	bottom: 0;
	height: 550px;
}

.event {
	position: absolute;
	bottom: 0;
}

.footer {
	width: 100%;
	height: 50px;
}

.topbar {
	padding: 10px 30px 10px 50px;
	height: 100px;
	color: #FFF;
	font-weight: bold;
}

.topbar-left {
	display: inline-block;
	line-height: 30px;
	height: calc(100% - 40px);
	padding: 20px 0px;
	h1 {
		font-size: 25px;
		text-shadow: 0px 0px 30px #000;
	}
	h3 {
		font-size: 18px;
		text-shadow: 0px 0px 30px #000;
	}
}

.topbar-right {
	min-width: 750px;
	display: inline-block;
	float: right;
	margin-right: 85px;
}

.topbar-right > div {
	display: inline-block;
	vertical-align: middle;
}

.topbar-menu {
	display: inline-block;
	vertical-align: middle;
}

.topbar-menu li {
	font-size: 14px;
	display: inline-block;
	text-align: center;
	margin: 0 10px;
	padding: 10px;
	vertical-align: top;
	cursor: pointer;
	&.selected {
		background: rgba(0, 0, 0, 0.2);
	}
}

.topbar-menu li:hover {
	background: rgba(255, 255, 255, 0.1);
}

.philips-logo {
	position: absolute;
	top: 30px;
	right: 50px;
}

.topbar-menu img {
	height: 50px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

.content-box {
	background: rgba(250, 206, 206, 0.7);
	box-shadow: 0px 0px 20px 2px rgba(250, 206, 206, 0.6);
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 5px;
	color: #413B3B;
	width: 60%;
	min-height: 50%;
	max-height: calc(100% - 250px);
	min-width: 845px;
	height: 60%;
	position: relative;
	z-index: 1;
	.content-box-ctn {
		overflow-y: auto;
		margin: 15px 30px 30px 30px;
		padding: 5px;
		max-height: calc(100% - 60px);
	}
	h3 {
		font-size: 22px;
		margin-bottom: 20px;
	}
	h1 {
		line-height: 25px;
	}
	p {
		font-size: 16px;
		margin-bottom: 10px;
		line-height:22px;
	}
}

.footer-left {
	float: left;
	margin-left: 20px;
}

.footer-right {
	float: right;
	margin-right: 20px;
}

.login-bg {
	width: 760px;
	height: 760px;

	position: absolute;
	top: 50%;
	left: 50%;

	margin: -380px 0 0 -380px;
}

.login-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -45px 0 0 -100px;
	z-index: 2;
	text-align: center;
	color: #FFF;

	p {
		text-align: left;
		margin-bottom: 5px;
		font-weight: bold;
		display: block;
	}

	input {
		display: block;
		background: rgba(255, 255, 255, 0.5);
		border: none;
		padding: 6px 10px;
		border-radius: 8px;
		color: #FFF;
		margin-bottom: 15px;
		width: 180px;
		box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.6);
		&[type=submit] {
			display: block;
			float: right;
			border-radius: 3px;
			box-shadow: 0px 0px 3px;
			font-weight: bold;
			padding: 6px 15px;
			width: 75px;
		}
	}
}

.login-world {
	width: 350px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -145px 0 0 -175px;
	z-index: 1;
}

table {
	margin: 0 auto;
	width: 80%;
	text-align: center;
	background: rgba(255,255,255, 0.6);
	color: #444;
	td, th {
		padding: 10px;
		border: 1px outset #FFF;
	}
	.points {
		width: 10%;
	}
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.trivia-container {
	text-align: center;
	color: #444;
	&.no-trivia {
		margin-top: 40px;
	}
	.trivia-question {
		padding: 20px 0px;
		width: 75%;
		background: rgba(255, 255, 255, 0.6);
		margin: 0 auto;
		border-radius: 10px;
		margin-bottom: 10px;
	}

	.trivia-answers {
		width: 75%;
		margin: 0 auto;
	
		.trivia-answer {
			display: inline-block;
			background: rgba(255, 255, 255, 0.6);
			border-radius: 10px;
			padding: 10px;
			margin: 0px 5px 10px 5px;
			width: calc(50% - 27px);
			font-weight: bold;
			font-size: 13px;
			border-width: 1px;
			border-style: outset;
			cursor: pointer;
			&:focus {
				outline-color: transparent;
				border-style: inset;
			}
			&:nth-child(even) {
				margin-right: 0;
			}
			&:nth-child(odd) {
				margin-left: 0;
			}

		}
		.trivia-answer:focus {
			border-style: inset;
		}
	}
}

.ranking-selector {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
	input, span {
		display: inline-block;
		vertical-align: middle;
	}
	.separator {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.page-controller-wrapper {
	text-align: center;
	margin-bottom: 20px;
	position: relative;
	top: 5px;
}

.page-control {
	display: inline-block;
	padding: 10px;
	background: rgba(255,255,255,0.5);
	border-radius: 10px;
	.left {
		margin-left: 10px;
		float: left;
	}
	a {
		cursor: pointer;
		font-weight: bold;
	}
	.selector {
		opacity: 0.5;
		&.selected {
			opacity: 1;
		}
	}
}

.prize-type-selector {
	margin-bottom: 20px;
}

.me {
	
	background: repeating-linear-gradient(
	-45deg,
	rgba(255,255,255,0.5),
	rgba(255,255,255,0.5) 10px,
	rgba(225,225,225,0.5) 10px,
	rgba(225,225,225,0.5) 20px
	);
}

.product-img-down {
	display: none;
	background-color: lightgrey;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 220px;
	left: 8px;
	img {
		width: 100px;
		height: 100px;
		border-radius: 5px;
		border: solid lightgray;
	}
}

.product-img-up {
	display: none;
	background-color: lightgrey;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 100px;
	left: 8px;
	img {
		width: 100px;
		height: 100px;
		border-radius: 5px;
		border: solid lightgray 2px;
	}
}

.products-list {
	width: 660px;
	margin-left: 75px;
	#f1_container {
		border-radius: 5px;
		float: left;
	  position: relative;
	  margin: 10px 2px;
	  width: 150px;
	  height: 150px;
	  z-index: 1;
	  img {
	  	border-radius: 5px;
	  	width: 150px;
	  	height: 150px;
	  }
	}
	#f1_container {
	  perspective: 1000;
	}
	#f1_card {
		border-radius: 5px;
	  width: 100%;
	  height: 100%;
	  transform-style: preserve-3d;
	  transition: all 1.0s linear;
	}
	#f1_container:hover #f1_card {
	  transform: rotateY(180deg);
	  box-shadow: -5px 5px 5px #aaa;
	}
	.face {
		border-radius: 5px;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  backface-visibility: hidden;
	}
	.face.back {
		border-radius: 5px;
		.giladita {
			border-radius: 5px;
			position: absolute;
			background-color: green;
			opacity: 0.65;
			width: 100%;
			height: 100%;
		}
		.giladita-arriba {
			border-radius: 5px;
			position: relative;
			opacity: 1;
			padding: 10px;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			font-size: 24px;
			.down {
				position: absolute;
				bottom: 0;
				text-align: center;
				width: 130px;
				margin-bottom: 10px;
			}
		}
		background-size: 150px 150px;
	  display: block;
	  transform: rotateY(180deg);
	  box-sizing: border-box;
	  color: black;
	  text-align: center;
	  background-color: #FFF;
	  opacity: 0.75;
	}
}

.prizes-container {
	.center {
		text-align: center;
	}
	.prizes-info-ctn {
		margin-top: 30px;
		.plane-image {
			height: 165px;
			float: right;
			position: relative;
			top: -20px;
			margin-right: 20px;
		}
		.tv-image {
			height: 160px;
			float: right;
			position: relative;
			top: -140px;
		}
		.invisible {
			display: none;
		}
		.minor-prizes-list {
			height: 300px;
			width: 660px;
			margin-top: 25px;
			margin-left: auto;
			margin-right: auto;
			.minor-item {
				float: left;
				margin-right: 15px;
				height: 150px;
				width: 150px;
				.week {
					text-align: center;
					margin-bottom: 5px;
					font-size: 18px;
				}
				.title {
					background-color: lightgrey;
					text-align: center;
					height: 55px;
					margin-top: 10px;
					border-radius: 10px;
					padding: 5px;
					.text {
						height:	50px;
					}
				}
				img {
					border-radius: 5px;
					height: 150px;
					width: 150px;
				}
			}
		}
	}
}

.ranking-ctn {
	display: none;
}

.ranking-unavailable {
	margin-top: 30px;
}

.login-unavailable {
	font-size: 22px;
	text-align: center;
	padding: 20px 10px;
	width: 200px;
	margin-bottom: 10px;
	position: relative;
	left: -10px;
	background: rgba(250, 206, 206, 0.8);
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	color: #413B3B;
}

.not-available {
	text-align: center;
	width: calc(100% - 23px);
	font-size: 27px;
	background-color: orange;
	padding: 10px;
	position: absolute;
	left: 0px;
	border: solid black 2px;
	color: white;
	height: 50px;
	.one-line {
		margin-top: 12px;
	}
}