html {
	height: 100%;
}
body {
	height: -moz-calc(100% - 20px);
	height: calc(100% - 20px);
	height: -webkit-calc(100% - 20px);;
}

.container {
	margin: 20px;
	background: -webkit-linear-gradient(left top, #006BA2, #000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #006BA2, #000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #006BA2, #000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #006BA2, #000); /* Standard syntax */
	height:-moz-calc(100% - 70px);
	height:calc(100% - 70px);
	height: -webkit-calc(100% - 70px);
	border-bottom-right-radius: 100px;
	overflow: hidden;
	position: relative;
}

.world {
	position: absolute;
	bottom: 0;
	height: 550px;
}

.event {
	position: absolute;
	bottom: 0;
}

.footer {
	width: 100%;
	height: 50px;
}

.topbar {
	padding: 10px 30px 10px 80px;
	height: 100px;
	color: #FFF;
	font-weight: bold;
}

.topbar-right {
	min-width: 750px;
	display: inline-block;
	float: right;
}

.topbar-right > div {
	display: inline-block;
	vertical-align: middle;
}

.topbar-menu {
	display: inline-block;
	vertical-align: middle;
}

.topbar-menu li {
	display: inline-block;
	text-align: center;
	margin: 0 10px;
	padding: 10px;
	vertical-align: top;
}

.topbar-menu li:hover {
	background: rgba(255, 255, 255, 0.1);
}

.philips-logo {
	position: absolute;
	top: 30px;
	right: 50px;
}

.topbar-menu img {
	height: 50px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

.content-box {
	background: rgba(255,255,255, 0.3);
	box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.6);
	margin: 0 auto;
	margin-top: 30px;
	padding: 5px;
	color: #FFF;
	width: 60%;
	min-height: 50%;
	max-height: calc(100% - 250px);
	height: 60%;
	.content-box-ctn {
		overflow-y: auto;
		margin: 30px;
		padding: 5px;
		max-height: calc(100% - 60px);
	}
	h3 {
		font-size: 22px;
		margin-bottom: 20px;
		color: #FFF;
	}
	p {
		font-size: 16px;
		margin-bottom: 10px;
		line-height:22px;
	}
}

.footer-left {
	float: left;
	margin-left: 20px;
}

.footer-right {
	float: right;
	margin-right: 20px;
}

.login-bg {
	width: 760px;
	height: 760px;

	position: absolute;
	top: 50%;
	left: 50%;

	margin: -380px 0 0 -380px;
}

.login-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -45px 0 0 -100px;
	z-index: 2;
	text-align: center;
	color: #FFF;

	p {
		text-align: left;
		margin-bottom: 5px;
		font-weight: bold;
		display: block;
	}

	input {
		display: block;
		background: rgba(255, 255, 255, 0.5);
		border: none;
		padding: 6px 10px;
		border-radius: 8px;
		color: #FFF;
		margin-bottom: 15px;
		width: 180px;
		box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.6);
		&[type=submit] {
			display: block;
			float: right;
			border-radius: 3px;
			box-shadow: 0px 0px 3px;
			font-weight: bold;
			padding: 6px 15px;
			width: 75px;
		}
	}
}

.login-world {
	width: 350px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -145px 0 0 -175px;
	z-index: 1;
}

table {
	margin: 0 auto;
	width: 80%;
	text-align: center;
	background: rgba(255,255,255, 0.6);
	color: #444;
	td, th {
		padding: 10px;
		border: 1px solid #FFF;
	}
	.points {
		width: 10%;
	}
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.trivia-container {
	text-align: center;
	color: #444;
	.trivia-question {
		padding: 20px 0px;
		width: 75%;
		background: rgba(255, 255, 255, 0.6);
		margin: 0 auto;
		border-radius: 10px;
		margin-bottom: 10px;
	}

	.trivia-answers {
		width: 75%;
		margin: 0 auto;

		.trivia-answer {
			display: inline-block;
			background: rgba(255, 255, 255, 0.6);
			border-radius: 10px;
			padding: 10px;
			margin: 0px 5px 10px 5px;
			width: calc(50% - 27px);
			font-weight: bold;
			&:nth-child(even) {
				margin-right: 0;
			}
			&:nth-child(odd) {
				margin-left: 0;
			}

		}
	}
}