<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Destino philips</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

	<body>

	<%= yield %>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	</body>

</html>
